html {
  font-family: "Open Sans", sans-serif;
  background-color: #e6e7e8;

}

/* Navigation */

nav {
  background-color: #364054;
}

nav li {
  font-family: "Alegreya Sans", sans-serif;
}

li a {
  text-decoration: none;
  color: #e6e7e8;
  padding: .6em;
}

/* Banner */

.banner-box {
  max-height: 25em;
  z-index: 0;
}

.home-banner {
  max-height: 450px;
}

.home-banner img {
  width: 100%;
  display: block;
}

.banner-text {
  color: white;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1000;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .7) 40%, rgba(0, 0, 0, 0));
}

/* Buttons */

.btn {
  border-radius: 10px;
  padding: .6em;
  border-width: 0;
  font-family: "Alegreya Sans", sans-serif;
}

.btn:hover {
  color: #0b1a38;
}

.btn-orange {
  background-color: #dd781b;
  color: #0b1a38;
}

.btn-grey {
  background-color: #e6e7e8;
  color: #364054;
}

.btn-dk {
  background-color: #515254;
  color: #e6e7e8;
}

.btn-dk:hover {
  background-color: #0b1a38;
  color: #e6e7e8;
}

.btn-grey:hover {
  background-color: #dd781b;
  color: #0b1a38;
}

.cards-container {
  background-color: #dd781b;
  color: #0b1a38;
}

/* Colors */

.orange {
  color: #dd781b;
}

.orange-bg {
  color: #dd781b;
}

.blue {
  color: #364054;
}

.blue-bg {
  background-color: #364054;
}

.grey {
  color: #e6e7e8;
}

.grey-bg {
  background-color: #e6e7e8;
}

.navy {
  color: #0b1a38;
}

.navy-bg {
  background-color: #0b1a38;
}

.lt-grey-bg {
  background-color: #cacaca;
}

.dark-bg {
  background-color: #515254;
}

.heading {
  font-family: "Alegreya Sans", sans-serif;
}

/* Cards */

.card {
  background-color: #e6e7e8;
  border-radius: 10px;
  max-width: 400px;
  margin-top: 3em;
}

.cat-card {
  background-color: #fff;
  border-radius: 10px;
  margin-right: .5em;

}

.card-img {
  border-radius: 10px 10px 0 0;
}

p a {
  color: #dd781b;
  text-decoration: underline;
}

p a::before {
  color: #dd781b;
  font-family: inherit;
}

a:checked {
  color: #dd610d;
}

p a:visited {
  color: #364054;
}

nav a:hover {
  background-color: #e6e7e8;
  padding: .6em;
  border-radius: 10px;
  color: #0b1a38;
}

/* Footer */

.bottom-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media only screen and (min-width: 25em) {
  /* Banner */

  .banner-box {
    max-height: 20em;
  }

  .home-banner {
    max-height: 600px;
  }

}

@media only screen and (min-width: 30em) {
  /* Banner */

  .banner-box {
    max-height: 20em;
  }

}

@media only screen and (min-width: 38em) {

  .cat-card {
    width: 45%;
    margin-right: 1em;
  }

  .cat-card:nth-of-type(even) {
    margin-right: 0;

  }

}

@media only screen and (min-width: 50em) {
  /* Banner */

  .banner-box {
    max-height: 27em;
  }

  .home-banner {
    max-height: 800px;
  }

  /* Cards */

  .cat-card:nth-of-type(2) {
    margin-right: 1em;
  }

}

@media only screen and (min-width: 60em) {
  /* Navigation */

  header nav li:last-child a {
    background-color: #dd781b;
    padding: .6em;
    border-radius: 10px;
    color: #0b1a38;
  }

  .btn-orange:hover {
    background-color: #e6e7e8;
  }

  nav li:last-child a:hover {
    background-color: #e6e7e8;
    padding: .6em;
    border-radius: 10px;
  }

  /* Banner */

  .para-banner {
    max-width: 300px;
    text-align: left;
  }

  .banner-text {
    padding-left: 2em;
    padding-bottom: 3em;
  }

  /* Cards */

  .card {
    height: 640px;
  }

  .cat-card {
    width: 20%;
    margin-right: 1em;
  }

}

@media only screen and (min-width: 90em) {
  /* Cards */

  .card {
    height: 700px;
  }

}
